<launch>
    <arg name="graph_path" default="$(find-pkg-share roboware_neo_launch)/state_graph/scenario_simulation/avoidance.md"/>

    <!-- simulation -->
    <include file="$(find-pkg-share roboware_neo_launch)/launch/planning/p_sim_node.launch.xml"/>

    <!-- planning -->
    <include file="$(find-pkg-share roboware_neo_launch)/launch/planning/global_path_planning.launch.xml"/>
    <include file="$(find-pkg-share roboware_neo_launch)/launch/planning/path_follower.launch.xml"/>
    <node pkg="mission_manager" exec="mission_manager_node" >
        <remap from="output/task_action" to="/planning/state_transition/task_action"/>
        <remap from="input/action_result" to="/planning/state_transition/action_result"/>
        <param name="graphpath" value="$(var graph_path)"/>
    </node>
</launch>
